<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nakama"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.ZoomActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DetailHakiActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.UpdateHakiActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.AddHakiActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.HakiActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.UpdateMovieActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DetailMovieActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.AddMovieActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.MovieActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DetailCrewActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.UpdateCrewActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.AddCrewActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.CrewActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.UpdatePiratesActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DetailPiratesActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.AddPiratesActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PiratesActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.Nakama.NoActionBarAndStatusBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>